.navbar {
  margin-bottom: 20px;
}

.nav-link {
  color: rgba(255,255,255,.8) !important;
  transition: color 0.3s ease;
}

.nav-link:hover, .nav-link.active {
  color: white !important;
}

.navbar-brand {
  font-weight: bold;
}