<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="footer-content">
          <p class="developer-text">
            Desarrollado por 
            <a href="https://github.com/omaidy" target="_blank" class="github-link">
              <i class="bi bi-github"></i>
              omaidy
            </a>
          </p>
          <p class="copyright">© {{currentYear}} Todos los derechos reservados</p>
        </div>
      </div>
    </div>
  </div>
</footer>
